:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-default-p2: rgba(95, 95, 95, 1);
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
/* style.css */

.container {
  text-align: center;
  margin-top: 20px;
}

.button_table {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.button__line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  transition: transform 0.5s ease;
}

.button__line:nth-child(1) {
  top: 0;
}

.button__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.button__line:nth-child(3) {
  bottom: 0;
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.button:hover .button__line:nth-child(1) {
  transform: translateY(8px);
}

.button:hover .button__line:nth-child(3) {
  transform: translateY(-8px);
}

.button:hover .button__line:nth-child(2) {
  transform: scaleX(0);
}

.button__drow1,
.button__drow2 {
  position: absolute;
  width: 2px;
  height: 14px;
  background: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(8px);
}

.button:hover .button__drow1,
.button:hover .button__drow2 {
  transform: translateX(-50%) translateY(8px) rotate(90deg);
}

