.back-back {
  width: 70px;
  height: 45px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0.4000000059604645);
}
.back-back:hover {
  transform: translateY(-4px);
  box-shadow: initial;
}
.back-arrow {
  top: 7px;
  left: 18px;
  width: 34px;
  height: 30px;
  position: absolute;
}
.back-root-class-name {
  top: 14px;
  left: 24px;
  position: absolute;
}
.back-root-class-name1 {
  top: 14px;
  left: 24px;
  position: absolute;
}
@media(max-width: 1600px) {
  .back-back {
    top: 14px;
    left: 24px;
    border-radius: 10px;
  }
}

.ring-ring {
  width: 60px;
  height: 45px;
  display: flex;
  z-index: 14;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.ring-ring:hover {
  transform: translateY(-4px);
}
.ring-ring1 {
  top: 12px;
  left: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.ring-root-class-name {
  top: 14px;
  left: 1354px;
  right: 26px;
  position: 0px;
}
.ring-root-class-name1 {
  top: 14px;
  left: 1354px;
  right: 26px;
  position: 0px;
}
@media(max-width: 1600px) {
  .ring-ring {
    top: 14px;
    right: 26px;
    border-color: #929292;
    border-width: 1px;
    border-radius: 10px;
  }
  .ring-root-class-name {
    top: 10px;
    left: 1150px;
    right: 0px;
    height: 50px;
    position: absolute;
  }
  .ring-root-class-name1 {
    top: 14px;
    left: 1357px;
    right: 0px;
    position: absolute;
  }
}

.analytics-bar-analytics-bar {
  width: 350px;
  height: 53.14537811279297px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.800000011920929);
}
.analytics-bar-analytics-bar:hover {
  transform: translateY(-4px);
}
.analytics-bar-text {
  top: 2.0440683364868164px;
  left: 36px;
  color: rgba(146, 146, 146, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.analytics-bar-pasted-image {
  width: 24px;
  height: 24px;
}
.analytics-bar-pasted-image1 {
  width: 24px;
  height: 24px;
}
.analytics-bar-root-class-name {
  top: 315px;
  left: 14px;
  position: absolute;
}
@media(max-width: 1600px) {
  .analytics-bar-analytics-bar {
    top: 315px;
    left: 14px;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: rgba(255, 255, 255, 0.800000011920929);
  }
  .analytics-bar-text {
    top: 15.330440521240234px;
    left: 61px;
  }
  .analytics-bar-pasted-image {
    top: 14.308380126953125px;
    left: 23px;
    position: absolute;
  }
  .analytics-bar-pasted-image1 {
    top: 18px;
    right: 29px;
    position: absolute;
  }
}

.output-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-page-navlink {
  display: contents;
}
.output-page-component {
  text-decoration: none;
}
.output-page-divided-header {
  top: 96px;
  left: 0px;
  width: 1440px;
  height: 1px;
  z-index: 1;
  position: absolute;
}
.output-page-text {
  top: 28px;
  left: 105px;
  color: rgba(64, 77, 97, 1);
  width: 277px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.output-page-circlebg {
  top: 200px;
  left: 417.6000061035156px;
  width: 100%;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.output-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.output-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.output-page-text1 {
  top: 28px;
  left: 105px;
  color: rgba(64, 77, 97, 1);
  width: 277px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.output-page-kidney {
  width: 200px;
  object-fit: cover;
}
.output-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.output-page-sidebar {
  top: 96px;
  left: 0px;
  width: 378px;
  height: 928px;
  display: flex;
  z-index: 17;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.4000000059604645);
}
.output-page-mdkku {
  top: 39.8590202331543px;
  left: 98px;
  width: 181.20135498046875px;
  height: 183.44430541992188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.output-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 181px;
  height: 183px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.output-page-mdkku1 {
  top: 23.585710525512695px;
  left: 25.885986328125px;
  width: 128px;
  height: 136px;
  position: absolute;
}
.output-page-container4 {
  top: 260.6125183105469px;
  left: 14px;
  width: 350px;
  height: 53.13750076293945px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.output-page-info-bar {
  width: 350px;
  height: 53.14537811279297px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.800000011920929);
}
.output-page-info-bar:hover {
  transform: translateY(-4px);
}
.output-page-pasted-image {
  width: 24px;
  height: 24px;
}
.output-page-text4 {
  top: 15.330440521240234px;
  left: 61px;
  color: rgba(64, 77, 97, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.output-page-vector {
  top: 20.440561294555664px;
  left: 305px;
  width: 16px;
  height: 12px;
  position: absolute;
}
@media(max-width: 1600px) {
  .output-page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .output-page-divided-header {
    top: 71px;
    left: 0px;
    height: 2px;
  }
  .output-page-text {
    top: 16px;
    left: 115px;
    color: rgb(64, 77, 97);
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .output-page-circlebg {
    top: 189px;
    left: 454px;
    width: 625px;
  }
  .output-page-container1 {
    top: 0px;
    left: 0px;
    width: 560px;
    height: 560px;
    margin: auto;
    position: absolute;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-round);
    background-color: rgba(217, 217, 217, 0.23);
  }
  .output-page-container2 {
    top: 50px;
    left: 56px;
    width: 450px;
    height: 450px;
    margin: auto;
    position: absolute;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-round);
    background-color: rgba(217, 217, 217, 0.48);
  }
  .output-page-text1 {
    top: 103px;
    left: 479px;
    color: rgb(64, 77, 97);
    width: 800px;
    margin: auto;
    font-size: 32px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .output-page-text3 {
    color: var(--dl-color-danger-300);
  }
  .output-page-kidney {
    top: 234px;
    left: 485px;
    width: 480px;
    height: 480px;
    position: absolute;
    animation-name: tada;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 100;
    animation-timing-function: ease;
  }
  .output-page-container3 {
    top: 406px;
    right: 47px;
    width: 346px;
    height: 106px;
    position: absolute;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    animation-name: bounceIn;
    animation-delay: 0s;
    background-color: rgba(217, 217, 217, 0.2);
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .output-page-slope {
    top: 368px;
    color: var(--dl-color-gray-black);
    right: 157px;
    margin: auto;
    position: absolute;
    font-size: 20px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 700;
  }
  .output-page-sidebar {
    top: 71px;
    left: 0px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
  }
  .output-page-ellipse1 {
    border-width: 0px;
  }
  .output-page-info-bar {
    top: 0px;
    left: 0px;
    position: absolute;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: transparent;
  }
  .output-page-pasted-image {
    left: 23px;
    bottom: 14px;
    position: absolute;
  }
  .output-page-text4 {
    color: var(--dl-color-gray-700);
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .output-page-vector {
    top: 17px;
    right: 24px;
    width: 18px;
    height: 18px;
  }
}
