.confirm-confirm {
  width: 150px;
  height: 50px;
  display: flex;
  z-index: 15;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 55, 255, 0.7200000286102295) 0%, rgba(0, 55, 255, 1) 100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
}
.confirm-confirm:hover {
  transform: translateY(-4px);
  box-shadow: initial;
}
.confirm-text {
  top: 12.222222328186035px;
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

@media(max-width: 1600px) {
  .confirm-confirm {
    right: 24px;
    bottom: 20px;
    position: absolute;
    border-width: 0px;
    border-radius: 10px;
    background-color: transparent;
  }
  .confirm-root-class-name {
    top: 10px;
    right: 50px;
    bottom: 0px;
  }
}
