.ring-ring {
  width: 60px;
  height: 45px;
  display: flex;
  z-index: 14;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.ring-ring:hover {
  transform: translateY(-4px);
}
.ring-ring1 {
  top: 12px;
  left: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.ring-root-class-name {
  top: 14px;
  left: 1354px;
  right: 26px;
  position: 0px;
}
.ring-root-class-name1 {
  top: 14px;
  left: 1354px;
  right: 26px;
  position: 0px;
}
@media(max-width: 1600px) {
  .ring-ring {
    top: 14px;
    right: 26px;
    border-color: #929292;
    border-width: 1px;
    border-radius: 10px;
  }
  .ring-root-class-name {
    top: 10px;
    left: 1150px;
    right: 0px;
    height: 50px;
    position: absolute;
  }
  .ring-root-class-name1 {
    top: 14px;
    left: 1357px;
    right: 0px;
    position: absolute;
  }
}
