.back-back {
  width: 70px;
  height: 45px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0.4000000059604645);
}
.back-back:hover {
  transform: translateY(-4px);
  box-shadow: initial;
}
.back-arrow {
  top: 7px;
  left: 18px;
  width: 34px;
  height: 30px;
  position: absolute;
}
.back-root-class-name {
  top: 14px;
  left: 24px;
  position: absolute;
}
.back-root-class-name1 {
  top: 14px;
  left: 24px;
  position: absolute;
}
@media(max-width: 1600px) {
  .back-back {
    top: 14px;
    left: 24px;
    border-radius: 10px;
  }
}

.confirm-confirm {
  width: 150px;
  height: 50px;
  display: flex;
  z-index: 15;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 55, 255, 0.7200000286102295) 0%, rgba(0, 55, 255, 1) 100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
}
.confirm-confirm:hover {
  transform: translateY(-4px);
  box-shadow: initial;
}
.confirm-text {
  top: 12.222222328186035px;
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

@media(max-width: 1600px) {
  .confirm-confirm {
    right: 24px;
    bottom: 20px;
    position: absolute;
    border-width: 0px;
    border-radius: 10px;
    background-color: transparent;
  }
  .confirm-root-class-name {
    top: 10px;
    right: 50px;
    bottom: 0px;
  }
}

.ring-ring {
  width: 60px;
  height: 45px;
  display: flex;
  z-index: 14;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.ring-ring:hover {
  transform: translateY(-4px);
}
.ring-ring1 {
  top: 12px;
  left: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.ring-root-class-name {
  top: 14px;
  left: 1354px;
  right: 26px;
  position: 0px;
}
.ring-root-class-name1 {
  top: 14px;
  left: 1354px;
  right: 26px;
  position: 0px;
}
@media(max-width: 1600px) {
  .ring-ring {
    top: 14px;
    right: 26px;
    border-color: #929292;
    border-width: 1px;
    border-radius: 10px;
  }
  .ring-root-class-name {
    top: 10px;
    left: 1150px;
    right: 0px;
    height: 50px;
    position: absolute;
  }
  .ring-root-class-name1 {
    top: 14px;
    left: 1357px;
    right: 0px;
    position: absolute;
  }
}

.info-bar-info-bar {
  width: 350px;
  height: 53.14537811279297px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.800000011920929);
}
.info-bar-info-bar:hover {
  transform: translateY(-4px);
}
.info-bar-text {
  top: 15.330440521240234px;
  left: 61px;
  color: rgba(64, 77, 97, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.info-bar-frame {
  top: 14.308380126953125px;
  left: 23px;
  width: 24px;
  height: 25px;
  position: absolute;
}
.info-bar-vector {
  top: 20.440561294555664px;
  left: 305px;
  width: 16px;
  height: 12px;
  position: absolute;
}
.info-bar-root-class-name {
  top: 260.6167297363281px;
  left: 14px;
  position: absolute;
}
@media(max-width: 1600px) {
  .info-bar-info-bar {
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
}

.input-page-container {
  width: 100%;
  height: max-content;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.input-page-divided-header {
  top: 96px;
  left: 0px;
  width: 1440px;
  height: 1px;
  z-index: 1;
  position: absolute;
}
.input-page-divided-header1 {
  top: 276px;
  left: 378px;
  width: 1072px;
  height: 1px;
  z-index: 2;
  position: absolute;
}
.input-page-text {
  top: 28px;
  left: 105px;
  color: rgba(64, 77, 97, 1);
  width: 277px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-text02 {
  top: 343px;
  left: 415px;
  color: rgba(64, 77, 97, 0.800000011920929);
  width: 977px;
  height: auto;
  z-index: 4;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-navlink {
  display: contents;
}
.input-page-component1 {
  text-decoration: none;
}
.input-page-importance {
  top: 408px;
  left: 461px;
  width: 708px;
  height: 559px;
  display: flex;
  z-index: 5;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: center;
}
.input-page-group1 {
  top: 349px;
  left: 0px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text06 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group3 {
  top: 119px;
  left: 0px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text07 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group4 {
  top: 234px;
  left: 0px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text09 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group5 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: flex-end;
}
.input-page-group2 {
  top: 464px;
  left: 0px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text11 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group6 {
  top: 349px;
  left: 421px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text13 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group7 {
  top: 119px;
  left: 421px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text15 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group8 {
  top: 234px;
  left: 421px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text17 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group9 {
  top: 0px;
  left: 421px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text19 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-group10 {
  top: 464px;
  left: 421px;
  width: 280px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-text21 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-text23 {
  color: rgba(64, 77, 97, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-text24 {
  top: 121px;
  left: 415px;
  color: rgba(64, 77, 97, 1);
  width: 611px;
  height: auto;
  z-index: 6;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-text26 {
  top: 299px;
  left: 415px;
  color: rgba(64, 77, 97, 1);
  width: 611px;
  height: auto;
  z-index: 7;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-patient-uid {
  top: 129px;
  left: 720px;
  width: 230px;
  height: 50px;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-patient-visit-uid {
  top: 206px;
  left: 720px;
  width: 230px;
  height: 50px;
  display: flex;
  z-index: 11;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.input-page-sidebar {
  top: 96px;
  left: 0px;
  width: 378px;
  height: 928px;
  display: flex;
  z-index: 17;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.4000000059604645);
}
.input-page-mdkku {
  top: 39.8590202331543px;
  left: 98px;
  width: 181.20135498046875px;
  height: 183.44430541992188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.input-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 181px;
  height: 183px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.input-page-mdkku1 {
  top: 23.585710525512695px;
  left: 25.885986328125px;
  width: 128px;
  height: 136px;
  position: absolute;
}
.input-page-analytics-bar {
  top: 260.6167297363281px;
  left: 14px;
  width: 350px;
  height: 53.14537811279297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.800000011920929);
}
.input-page-text28 {
  top: 2.0440683364868164px;
  left: 36px;
  color: rgba(146, 146, 146, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.input-page-frame {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 25px;
  position: absolute;
}
.input-page-vector {
  top: 20.440561294555664px;
  left: 305px;
  width: 16px;
  height: 12px;
  position: absolute;
}
.input-page-boy1 {
  top: 162px;
  left: 486px;
  width: 100px;
  height: 100px;
  z-index: 18;
  position: absolute;
}
.input-page-divided {
  top: 987px;
  left: 378px;
  width: 891px;
  height: 1px;
  z-index: 16;
  position: absolute;
}
@media(max-width: 1600px) {
  .input-page-container {
    align-items: center;
    justify-content: center;
  }
  .input-page-divided-header {
    top: 71px;
    left: 0px;
    width: 1520px;
    height: 2px;
  }
  .input-page-divided-header1 {
    top: 251px;
    left: 378px;
    width: 1250px;
    height: 2px;
  }
  .input-page-text {
    top: 16px;
    left: 115px;
  }
  .input-page-text02 {
    top: 318px;
    left: 415px;
    color: rgba(64, 77, 97, 0.8);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .input-page-text04 {
    color: var(--dl-color-danger-300);
  }
  .input-page-importance {
    top: 383px;
    left: 508px;
  }
  .input-page-text06 {
    color: rgb(64, 77, 97);
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .input-page-textinput {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput01 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput02 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput03 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput04 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput05 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput06 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput07 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-group9 {
    top: 0px;
    right: 12px;
  }
  .input-page-textinput08 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-textinput09 {
    top: 37px;
    left: 0px;
    width: 100%;
    height: 42px;
    position: absolute;
    font-size: 13px;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: right;
    border-width: 0px;
    border-radius: 10px;
  }
  .input-page-text23 {
    top: 0px;
    left: 0px;
    color: rgb(64, 77, 97);
    right: 0px;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .input-page-text24 {
    top: 96px;
    left: 415px;
  }
  .input-page-text26 {
    top: 274px;
    left: 415px;
  }
  .input-page-patient-uid {
    top: 156px;
    left: 740px;
    margin: auto;
    position: absolute;
  }
  .input-page-textinput10 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    margin: auto;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: left;
    border-width: 0px;
    border-radius: 10px;
    text-transform: capitalize;
  }
  .input-page-patient-visit-uid {
    top: 156px;
    left: 1044px;
    margin: auto;
  }
  .input-page-textinput11 {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    box-shadow: 2px 2px 10px 0px #d4d4d4;
    text-align: left;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    text-transform: capitalize;
  }
  .input-page-sidebar {
    top: 71px;
    left: 0px;
  }
  .input-page-ellipse1 {
    border-width: 0px;
  }
  .input-page-analytics-bar {
    top: 315px;
    left: 14px;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: transparent;
  }
  .input-page-text28 {
    top: 15.330440521240234px;
    left: 61px;
  }
  .input-page-frame {
    top: 14.308380126953125px;
    left: 23px;
  }
  .input-page-boy1 {
    top: 137px;
    left: 486px;
  }
  .input-page-divided {
    left: 0px;
    bottom: 0px;
  }
}
